<!DOCTYPE html>
<html ng-app="app">
<!-- all my app is controller by angular-->

<head>
    <meta charset="utf-8">
    <title>Angular exercises</title>
    <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
    <script type="text/javascript"> 
        angular.module('app', [
            // dependencies 
        ]);

        angular.module('app').controller('myController', [
            /** array ou function */
            /** injenções de dependencias*/
            /** scope é intermediario entre o controller e a view */
            function () {
                const self = this;
                self.value = 10;
                self.inc = () => { self.value++ };
            }
        ]);
    </script>
</head>

<body>

    <!-- one time bind -->
    {{::valueTwo}}
    <input ng-model="valueTwo" />
    <!-- um watcher é um listener -->
    <!-- só faz uma vez um watch, posto isso depois ele remove o watcher-->

    <div ng-controller="myController as controller">
        <h1>
            <!-- this is bind-->
            {{controller.value}}
            <input ng-model="controller.value" />
            <button ng-click="controller.inc()">Incrementar</button>
        </h1>
    </div>

</body>

</html>