<div role="form">
    <div class="box-body">
        <field id="name" grid="col-xs-12 col-sm-4" label="Nome" placeholder="Inserir o Nome"
               model="bcController.billingCycle.name"></field>
        <field id="month" grid="col-xs-12 col-sm-4" label="Mês" placeholder="Inserir o Mês" type="number"
               model="bcController.billingCycle.month"></field>
        <field id="year" grid="col-xs-12 col-sm-4" label="Ano" placeholder="Inserir o Ano" type="number"
               model="bcController.billingCycle.year"></field>
    </div>
    <div class="box-footer">
        <button class="btn btn-primary" ng-click="bcController.create()"
                ng-if="bcController.tabCreate">Criar
        </button>
        <button class="btn btn-info" ng-if="bcController.tabUpdate">Alterar</button>
        <button class="btn btn-danger" ng-if="bcController.tabDelete">Remover</button>
        <button class="btn btn-default" ng-click="bcController.refresh()">Cancelar</button>
    </div>
</div>